## Pyspark with Python - Group by and Aggregate functions

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('DataFrame').getOrCreate()

In [4]:
spark
# In local only 1 master node

In [5]:
## Read the dataset - Method - 1
df_pyspark = spark.read.option('header','true').csv('E:\Programming Career\Pyspark\Pyspark-Introduction\Dataset\Sample_data - Part - 4.csv',inferSchema=True)

In [6]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- State: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Experience: double (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- Department: string (nullable = true)

In [7]:
df_pyspark.show()

+--------+---+------+-----------+----------+----------+------+----------------+
|    Name|Age|Gender|      State|      City|Experience|Salary|      Department|
+--------+---+------+-----------+----------+----------+------+----------------+
|Bumbhole| 27|     M|  Karnataka| Bangalore|       2.5|120000|    Data Science|
|  Vishnu| 27|     M|  Karnataka|     Hosur|       3.5| 70000|    Data Science|
|  Amanta| 31|     F| Tamil Nadu|   Chennai|       5.0| 30000|       Economics|
| Samanta| 27|     F|  Karnataka| Bangalore|       2.5| 22000|Customer Support|
|   Pallu| 28|     M|Maharashtra|      Pune|       2.2| 25000|         Banking|
|  Naruto| 26|     F|     Punjab|Chandigarh|       7.0| 30000|     Engineering|
| Samurai| 25|     F|Maharashtra|      Pune|       2.0| 25000|Customer Support|
| Shimanu| 28|     M|West Bengal|   Kolkata|       4.0| 75000|       Economics|
|   Mannu| 27|     F|    Haryana|Chandigarh|       3.0|110000|     Engineering|
|   Subbu| 25|     F| Tamil Nadu|   Chennai|       3.0| 30000|         Banking|
|   Banty| 21|     M|      Delhi| Delhi-NCR|       5.0| 75000|     Engineering|
+--------+---+------+-----------+----------+----------+------+----------------+

## Based on Age and Experience - predict salary

In [ ]:
## Vector assembler
[Age, Experience] ----