# Installing Pyspark in Virtual environment : Pyspark_Environment

- Create a new environment in anaconda
- Migrate to your proper workspace. Note to switch drive type : Eg. E: to change drive, cd "Workspace location Say : E:\Programming Career\Pyspark\" to navigate to the drive

In [1]:
# Comment out if you don't have it installed
#!pip install pyspark
#!pip install pandas

In [2]:
import pandas as pd

In [5]:
df_pandas = pd.read_csv("E:\Programming Career\Pyspark\Pyspark-Introduction\Dataset\Sample_data.csv")

In [6]:
df_pandas

         Name  Age Gender        State
0     Ramudas   27      M    Karnataka
1     Saturup   27      M    Karnataka
2       Amita   31      F  West Bengal
3       Deena   27      F    Karnataka
4       Sanui   28      M  Maharashtra
5      Tamaka   26      F  Maharashtra
6     Samurai   25      F  Maharashtra
7  Shishimanu   28      M  West Bengal

In [7]:
from pyspark.sql import SparkSession

In [8]:
spark = SparkSession.builder.appName("Practise-Session").getOrCreate()

In [9]:
spark

In [11]:
df_pyspark = spark.read.csv("E:\Programming Career\Pyspark\Pyspark-Introduction\Dataset\Sample_data.csv")

In [12]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string]

In [13]:
df_pyspark.show()

+----------+---+------+-----------+
|       _c0|_c1|   _c2|        _c3|
+----------+---+------+-----------+
|      Name|Age|Gender|      State|
|   Ramudas| 27|     M|  Karnataka|
|   Saturup| 27|     M|  Karnataka|
|     Amita| 31|     F|West Bengal|
|     Deena| 27|     F|  Karnataka|
|     Sanui| 28|     M|Maharashtra|
|    Tamaka| 26|     F|Maharashtra|
|   Samurai| 25|     F|Maharashtra|
|Shishimanu| 28|     M|West Bengal|
+----------+---+------+-----------+

In [14]:
df_pyspark = spark.read.option('header','true').csv("E:\Programming Career\Pyspark\Pyspark-Introduction\Dataset\Sample_data.csv")

In [15]:
df_pyspark

DataFrame[Name: string, Age: string, Gender: string, State: string]

In [16]:
df_pyspark.show()

+----------+---+------+-----------+
|      Name|Age|Gender|      State|
+----------+---+------+-----------+
|   Ramudas| 27|     M|  Karnataka|
|   Saturup| 27|     M|  Karnataka|
|     Amita| 31|     F|West Bengal|
|     Deena| 27|     F|  Karnataka|
|     Sanui| 28|     M|Maharashtra|
|    Tamaka| 26|     F|Maharashtra|
|   Samurai| 25|     F|Maharashtra|
|Shishimanu| 28|     M|West Bengal|
+----------+---+------+-----------+

In [17]:
type(df_pandas)

pandas.core.frame.DataFrame

In [18]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [19]:
df_pyspark.head()

Row(Name='Ramudas', Age='27', Gender='M', State='Karnataka')

In [20]:
df_pyspark.head(3)
#Row information

[Row(Name='Ramudas', Age='27', Gender='M', State='Karnataka'),
 Row(Name='Saturup', Age='27', Gender='M', State='Karnataka'),
 Row(Name='Amita', Age='31', Gender='F', State='West Bengal')]

In [21]:
#Column information pandas
df_pandas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    8 non-null      object
 1   Age     8 non-null      int64
 2   Gender  8 non-null      object
 3   State   8 non-null      object
dtypes: int64(1), object(3)
memory usage: 384.0+ bytes

In [22]:
#Column information pyspark
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- State: string (nullable = true)