## Pyspark Group By and Aggregate Functions

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('DataFrame').getOrCreate()

In [3]:
spark
# In local only 1 master node

In [4]:
## Read the dataset - Method - 1
df_pyspark = spark.read.option('header','true').csv('E:\Programming Career\Pyspark\Pyspark-Introduction\Dataset\Sample_data - Part - 4.csv',inferSchema=True)

In [5]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Experience: double (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- Department: string (nullable = true)

In [6]:
df_pyspark.show()

+--------+---+------+-----------+----------+------+----------------+
|    Name|Age|Gender|      State|Experience|Salary|      Department|
+--------+---+------+-----------+----------+------+----------------+
|Bumbhole| 27|     M|  Karnataka|       2.5|120000|    Data Science|
|  Vishnu| 27|  null|  Karnataka|       3.5| 70000|    Data Science|
|  Amanta| 31|     F|       null|       5.0| 30000|       Economics|
| Samanta| 27|     F|  Karnataka|       2.5| 22000|Customer Support|
|   Pallu| 28|     M|Maharashtra|       2.2| 25000|         Banking|
|  Naruto| 26|     F|       null|      null|  null|     Engineering|
| Samurai| 25|     F|Maharashtra|       2.0| 25000|Customer Support|
| Shimanu| 28|     M|West Bengal|       4.0| 75000|       Economics|
|   Mannu| 27|  null|       null|       0.0|  null|     Engineering|
|    null| 25|     F| Tamil Nadu|       3.0| 30000|         Banking|
|    null| 21|  null|       null|      null|  null|            null|
+--------+---+------+-----------+----------+------+----------------+