## Pyspark with Python - Group by and Aggregate functions

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('DataFrame').getOrCreate()

In [3]:
spark
# In local only 1 master node

In [10]:
## Read the dataset - Method - 1
df_pyspark = spark.read.option('header','true').csv('E:\Programming Career\Pyspark\Pyspark-Introduction\Dataset\Sample_data - Part - 4.csv',inferSchema=True)

In [11]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- State: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Experience: double (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- Department: string (nullable = true)

In [12]:
df_pyspark.show()

+--------+---+------+-----------+----------+----------+------+----------------+
|    Name|Age|Gender|      State|      City|Experience|Salary|      Department|
+--------+---+------+-----------+----------+----------+------+----------------+
|Bumbhole| 27|     M|  Karnataka| Bangalore|       2.5|120000|    Data Science|
|  Vishnu| 27|     M|  Karnataka|     Hosur|       3.5| 70000|    Data Science|
|  Amanta| 31|     F| Tamil Nadu|   Chennai|       5.0| 30000|       Economics|
| Samanta| 27|     F|  Karnataka| Bangalore|       2.5| 22000|Customer Support|
|   Pallu| 28|     M|Maharashtra|      Pune|       2.2| 25000|         Banking|
|  Naruto| 26|     F|     Punjab|Chandigarh|       7.0| 30000|     Engineering|
| Samurai| 25|     F|Maharashtra|      Pune|       2.0| 25000|Customer Support|
| Shimanu| 28|     M|West Bengal|   Kolkata|       4.0| 75000|       Economics|
|   Mannu| 27|     F|    Haryana|Chandigarh|       3.0|110000|     Engineering|
|   Subbu| 25|     F| Tamil Nadu|   Chennai|       3.0| 30000|         Banking|
|   Banty| 21|     M|      Delhi| Delhi-NCR|       5.0| 75000|     Engineering|
+--------+---+------+-----------+----------+----------+------+----------------+

In [15]:
## Groupby : Salary of people
df_pyspark.groupBy('Name').sum('Salary').show()

+--------+-----------+
|    Name|sum(Salary)|
+--------+-----------+
| Shimanu|      75000|
|  Vishnu|      70000|
|  Amanta|      30000|
| Samanta|      22000|
| Samurai|      25000|
|   Mannu|     110000|
|   Banty|      75000|
|Bumbhole|     120000|
|   Subbu|      30000|
|  Naruto|      30000|
|   Pallu|      25000|
+--------+-----------+

In [16]:
## Groupby mean salary by State
df_pyspark.groupBy('State').mean('Salary').show()

+-----------+-----------------+
|      State|      avg(Salary)|
+-----------+-----------------+
|  Karnataka|70666.66666666667|
| Tamil Nadu|          30000.0|
|     Punjab|          30000.0|
|    Haryana|         110000.0|
|      Delhi|          75000.0|
|Maharashtra|          25000.0|
|West Bengal|          75000.0|
+-----------+-----------------+

In [17]:
## Groupby : Mean salary by City
df_pyspark.groupBy('City').mean('Salary').show()

+----------+-----------+
|      City|avg(Salary)|
+----------+-----------+
| Bangalore|    71000.0|
|     Hosur|    70000.0|
|   Chennai|    30000.0|
|   Kolkata|    75000.0|
|      Pune|    25000.0|
|Chandigarh|    70000.0|
| Delhi-NCR|    75000.0|
+----------+-----------+

In [18]:
## Groupby : Max salary by departments
df_pyspark.groupBy('Department').max('Salary').show()

+----------------+-----------+
|      Department|max(Salary)|
+----------------+-----------+
|Customer Support|      25000|
|     Engineering|     110000|
|         Banking|      30000|
|       Economics|      75000|
|    Data Science|     120000|
+----------------+-----------+

In [19]:
## Groupby : Avg salary by departments
df_pyspark.groupBy('Department').mean('Salary').show()

+----------------+-----------------+
|      Department|      avg(Salary)|
+----------------+-----------------+
|Customer Support|          23500.0|
|     Engineering|71666.66666666667|
|         Banking|          27500.0|
|       Economics|          52500.0|
|    Data Science|          95000.0|
+----------------+-----------------+

In [20]:
## Groupby : Avg salary by departments
df_pyspark.groupBy('Department').count().show()

+----------------+-----+
|      Department|count|
+----------------+-----+
|Customer Support|    2|
|     Engineering|    3|
|         Banking|    2|
|       Economics|    2|
|    Data Science|    2|
+----------------+-----+

In [23]:
## Direct aggregation : Total aggregation
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|     612000|
+-----------+